.works {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  & h2 {
    font-size: 52px;
    line-height: 73px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 50px;
  }

  &__devider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;

    & .devider__element {
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__images {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);

    & img{
      width: 317px;
    }
  }
}
